/* Estilos generales para el main */
main {
    padding: 20px; /* Espaciado interno para el main */
    margin-top: 50px; /* Margen superior para dejar espacio al header */
    display: grid; /* Usar grid para centrar el contenido */
    place-items: center; /* Centrar el contenido en ambas direcciones */
}


.main-container {

    max-width: 800px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho completo */
    display: grid; /* Usar grid para alinear elementos */
    grid-template-rows: auto 1fr; /* Fila para el contenedor de bienvenida y fila para la cuadrícula */
    gap: 20px; /* Espacio entre los contenedores */
}



/* Contenedor de bienvenida con imagen de fondo */
.welcome-container {
    display: flex; /* Usar flexbox para centrar el contenido */
    flex-direction: column; /* Alinear los elementos en una columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    width: 100vw; /* Ancho completo de la ventana */
    height: 500px; /* Altura específica */
    position: relative; /* Posición relativa para el posicionamiento de elementos hijos */
    left: 50%; /* Mueve el contenedor al 50% desde la izquierda */
    margin-left: -50vw; /* Centra el contenedor, compensando el 50% de su ancho */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('/static/img/brushes.jpg');
    background-size: cover; /* Asegurar que la imagen cubra todo el contenedor */
    background-position: center; /* Centrar la imagen */
    backdrop-filter: blur(10px); /* Efecto de vidrio empañado */
    -webkit-backdrop-filter: blur(10px); /* Para Safari */
    padding: 40px; /* Relleno interno */
    text-align: center; /* Centrar texto horizontalmente */
    box-sizing: border-box; /* Incluir padding en el ancho total */
}



/* Estilo del título */
.welcome-container h1 {
    font-size: 36px; /* Tamaño grande para el título */
    color: white; /* Color del texto */
}

/* Estilo del párrafo */
.welcome-container p {
    color: white; /* Color del texto */
    margin: 10px 0; /* Margen superior e inferior para el párrafo */
}

/* Estilo del botón */
/* Estilo del botón */
.welcome-button {
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: transparent; /* Sin color de fondo */
    color: white; /* Color del texto del botón */
    border: 2px solid white; /* Borde blanco, ajusta el grosor según tus preferencias */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Transición suave al cambiar el color de fondo y texto */
}

/* Efecto al pasar el cursor sobre el botón */
.welcome-button:hover {
    background-color: white; /* Color de fondo al pasar el cursor */
    color: black; /* Cambia el color del texto al pasar el cursor */
}



